.page {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  width: 100%;
  max-width: 800px;
}

form {
  display: flex;
  place-items: center;
}

main {
  width: 100%;
}

.movies {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
}

.movie {
  text-align: center;
}

.movie-title {
  font-weight: 600;
}

.movie-year {
  font-size: 1rem;
}